<section class="bg-light py-5">
    <div class="container">
        <div class="row flex-nowrap">
            <div class="col-sm text-center">
                <p>Usuários</p>
                <h1 class="display-4 fw-bold">210</h1>
            </div>
             <div class="col-sm text-center">
                <p>Prédios</p>
                <h1 class="display-4 fw-bold">55</h1>
            </div>
            <div class="col-sm text-center">
                <p>Salas</p>
                <h1 class="display-4 fw-bold">5</h1>
            </div>
            <div class="col-sm text-center">
                <p>Chaves</p>
                <h1 class="display-4 fw-bold">20</h1>
            </div>
            <div class="col-sm text-center">
                <p>Reservas</p>
                <h1 class="display-4 fw-bold">35</h1>
            </div>
        </div>
    </div>
</section>